body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0f0e17;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden; /* Hide overflow for full-screen canvas */
  }
  #particleCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
  }
  
  
  .card {
    width: 300px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
    padding-top: 50px;
    transition: transform 0.3s ease-in-out;
    transform: perspective(1000px) rotateX(0) rotateY(0);
    z-index: 1; /* Make sure card is above the particles */
  }
  
  .card-image {
    margin-bottom: -50px;
    position: relative;
    display: inline-block;
  }
  
  .card-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 3px;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  }
  
  .card-content {
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .card-title {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
  }
  
  .card-text {
    font-size: 0.95em;
    line-height: 1.5;
    color: #666;
  }
  
  .card-button {
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    text-decoration: none;
    outline: none;
  }
  .shine {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px; /* Width of the shine effect */
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    transform: translateX(-50%) rotate(45deg);
    pointer-events: none; /* Ignore mouse events on the shine element */
    will-change: transform; /* Optimize for animations */
    transition: opacity 0.3s ease-in-out;
    opacity: 0; /* Start with the shine effect invisible */
  }
  
  
.card-button.telegram {
  background-image: linear-gradient(to right, #2AABEE, #229ED9);
  transition: background-image 0.5s ease; /* Увеличиваем длительность перехода */
}

.card-button.telegram:hover .shine {
  background-image: linear-gradient(to right, #20acf3, #0fcde7);
}


  
.card-button.lolzteam {
  background-image: linear-gradient(to right, #2BAD72, #2BAD72);
}

.card-button.github {
  background-image: linear-gradient(to right, #080808, #080808);
}

.card-b {
display: flex;
flex-direction: column;
}
  